@charset "UTF-8";

html {
	background-image: url("pictures/autumn.jpg");
	background-size: cover;
}

body {
    max-width: 1100px;
    /* margin: auto; */
    /* font-family: calibri; */
   	/* background-color: lavender */
}

fieldset{
	max-width: 1000px;
    /* margin: auto;
    text-align:left;
    border: solid #000000;
    color: darkgreen;
    font-size: 12px;
    padding: 12px;   */
}

/* Avatar image */
img.login_icon {
  width: 15%;
  border-radius: 20%;
}

h2.codrops-demos{
	background-color: #4CAF50;
  color: black;
}

#viewButton{
	background-color:#ff9c6c;
	padding: 2px 12px;
  text-align: center;
  display: inline-block;
}

#userlist{
	max-width: 600px;
    /* margin: auto;
    text-align:left;
    border: solid #000000;
    color: darkgreen;
    font-size: 12px;
    padding: 12px;   */
}

