@charset "UTF-8";

html {
	background-image: url("pictures/night_forest.jpg");
}

body {
	max-width: 1100px;
    /* height:100%; */
    /* font-family: calibri; */
    /* margin: auto; */
   	/* background-color: lavender */
}

/* Avatar image */
img.login_icon {
  width: 20%;
  border-radius: 20%;
}

fieldset{
	max-width: 800px;
    /* margin: auto;
    text-align:left;
    border: solid #000000;
    color: darkgreen;
    font-size: 12px;
    padding: 12px;   */	
}

fieldset.second{
	max-width: 900px;
	border: none;
}

fieldset.third{
	width: 400px;
}

#userlist{
	max-width: 600px;
    /* margin: auto; */
    /* text-align:left; */
    /* border: solid #000000; */
    /* color: darkgreen; */
    /* font-size: 12px; */
    /* padding: 12px; */  
}

